:root{
    --primary-color:#000814;
    --secondary-color:#003049;
    --tertiary-color:#d62828;
}
body{
    background-color: var(--primary-color);
}

.bg-primary{
    background-color: var(--primary-color);
}
.bg-seconadry{
    background-color: var(--secondary-color);
}
.bg-tertiary{
    background-color: var(--tertiary-color);
}

.tool:hover{
    background-color: #D9D9D9;
}
.active{
    background-color: #D9D9D9;
}
.w:hover{
    background-color:#4B4B4B80;
}
.pict{
    position: absolute;
    right: 0;
    margin-top: -100px;
}